<p><b>Деталь:</b>&nbsp;{% block name %}{% endblock %}.</p>
<p><b>Описание:</b>&nbsp;{% block description %}{% endblock %}</p>
<p><b>Недостатки:</b>&nbsp;{% block flaw %}{% endblock %}</p>
<p>Больше деталей к этой модели на сайте:&nbsp;<a href="https://nadetali.com.ua" target="_blank">https://nadetali.com.ua</a></p>
<p>По желанию клиента выполняем ремонт или замену деталей в нашем сервисном центре:&nbsp;<a href="http://chip-service.com.ua/" target="_blank">http://chip-service.com.ua</a></p>
<p>Всегда готовы ответить на любой Ваш вопрос:&nbsp;<b>+38&nbsp;(097)&nbsp;205&nbsp;77&nbsp;12</b> (Звонок, Viber, Telegram)</p>
<p>Заказы оплаченные до 15:00 отправляем в тот же день. Оформленные на выходных, отправляются в первый рабочий день.</p>
<p>Все детали проходят тщательную диагностику, перед публикацией и отправкой заказчику.</p>
<p>На каждую запчасть действует гарантия и поддержка от 14 дней до 12 месяцев.</p>