<p><strong>Деталь:</strong>&nbsp;{{ description_small_ua }}.</p>
<p><strong>Опис:</strong>&nbsp;{% if state=='perfect' %}{{ description_perfect_ua }}{% elif state=='good' %}{{ description_good_ua }}{% elif state=='fail' %}{{ description_fail_ua }}{% endif %}</p>
<p><strong>Недоліки:</strong>&nbsp;{% if state=='perfect' %}{{ flaw_perfect_ua }}{% elif state=='good' %}{{ flaw_good_ua }}{% elif state=='fail' %}{{ flaw_fail_ua }}{% endif %}</p>
<p>Більше деталей до цієї моделі на сайті:&nbsp;<a href="https://nadetali.com.ua" target="_blank">https://nadetali.com.ua</a></p>
<p>По бажанню клієнта виконуємо ремот або заміну деталей в нашому сервісному центрі:&nbsp;<a href="http://chip-service.com.ua/" target="_blank">http://chip-service.com.ua</a></p>
<p>Завжди готові відповісти на будь-яке Ваше питання:&nbsp;<strong>+38&nbsp;(097)&nbsp;205&nbsp;77&nbsp;12</strong> (Звонок, Viber, Telegram)</p>
<p>Замовлення, оплачені до 15:00 відправляємо того ж дня. Оформлені на вихідних, відправляються в перший робочий день.</p>
<p>Всі деталі проходять ретельну діагностику, перед публікацією та відправкою замовнику.</p>
<p>На кожну запчастину діє гарантія та підтримка від 14 днів до 12 місяців.</p>